* {
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-family: "Good Times", arial;
}
.fblog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: fit-content;
  padding: 20px;
  border: 10px solid rgb(216, 19, 19);
  border-radius: 16px;
  margin: 20px auto;
  background: green;
  color: white;
}
section {
  display: flex;
  flex-wrap: nowrap;
}
#test {
  font-size: 72px;
  text-align: center;
  font-weight: 700;
  font-family: "Good Times", arial;
  text-shadow: 4px 4px 4px rgb(109, 105, 105);
  color: #d81313;
}
