*{
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.fblog{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 500px;
    height: fit-content;
    padding: 20px;
    border: 10px solid rgb(216, 19, 19);
    border-radius: 16px;
    margin: 20px auto;
    background: green;
    color: white;
}